version: "3.9"
services:
  setup:
    build:
      context: .
      target: localnet-setup

    restart: "no"

    environment:
      NUM_VALIDATORS: 3
      CHAINID: localnet

    volumes:
      - "setup-data:/setup"

    # networks:
    #   localnet:
    #     ipv4_address: 192.168.10.1

  node0:
    build:
      context: .
      target: localnet

    restart: always

    environment:
      MONIKER: node0
      CHAINID: localnet
      MNEMONIC: "boat leave enrich glare into second this model appear owner strong tail perfect fringe best still soup clap betray rigid bleak return minimum goddess"
      PASSPHRASE: change-me-please

    volumes:
      - "setup-data:/setup"
      - "node0-data:/root/.fetchd"

    # networks:
    #   localnet:
    #     ipv4_address: 192.168.10.2

  node1:
    build:
      context: .
      target: localnet

    restart: always

    environment:
      MONIKER: node1
      CHAINID: localnet
      MNEMONIC: "question ski cancel busy census brush slush scissors ridge usual size fetch tortoise drum relax unlock chapter chapter electric surge arm priority vibrant blue"
      PASSPHRASE: change-me-please

    volumes:
      - "setup-data:/setup"
      - "node1-data:/root/.fetchd"

    # networks:
    #   localnet:
    #     ipv4_address: 192.168.10.3

  node2:
    build:
      context: .
      target: localnet

    restart: always

    environment:
      MONIKER: node2
      CHAINID: localnet
      MNEMONIC: "advance fatigue arm sentence champion tube half smoke beyond creek toddler blur measure ozone donkey live start address loan advance possible rough famous heavy"
      PASSPHRASE: change-me-please

    links:
      - "node0"

    volumes:
      - "setup-data:/setup"
      - "node2-data:/root/.fetchd"

    # networks:
    #   localnet:
    #     ipv4_address: 192.168.10.4


volumes:
  setup-data:
  node0-data:
  node1-data:
  node2-data:

# networks:
#   localnet:
#     driver: bridge
#     ipam:
#       driver: default
#       config:
#         - subnet: 192.168.10.0/16
