[Unit]
Description=fetchcli
Requires=network-online.target
After=network-online.target

[Service]
Restart=on-failure
User=fetchd
Group=fetchd
PermissionsStartOnly=true
ExecStart=/usr/bin/fetchcli rest-server --laddr {{GAIACLI_ADDRESS}}
ExecReload=/bin/kill -HUP $MAINPID
KillSignal=SIGTERM

[Install]
WantedBy=multi-user.target

