[Unit]
Description=fetchd
Requires=network-online.target
After=network-online.target

[Service]
Restart=on-failure
User=fetchd
Group=fetchd
PermissionsStartOnly=true
ExecStart=/usr/bin/fetchd start
ExecReload=/bin/kill -HUP $MAINPID
KillSignal=SIGTERM

[Install]
WantedBy=multi-user.target

